/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	cursor: pointer;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	font-weight: bold;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 1em;
}

.modal-edit {
	font-family: 'work sans';
	border: none;
	cursor: pointer;
	background-color: #fff;
}

.modal-edit i {
	margin: 0 10px;
}

#add-photo-view .form-group {
    margin-bottom: 15px;
}

#add-photo-view label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#add-photo-view input[type="file"],
#add-photo-view input[type="text"],
#add-photo-view select {
	width: 95%;
    padding: 10px;
    border: none;
    box-shadow: 1px 8px 9px rgba(0, 0, 0, 0.1);
}

#add-photo-view button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1D6154;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

#add-photo-view button[type="submit"]:hover {
    background-color: #14543a;
}

#add-photo-view .back {
    cursor: pointer;
    font-size: 24px;
    display: block;
    margin-bottom: 20px;
}


/* Modale */
.modale-container {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 600px; 
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.modal-content .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.modal-content .gallery figure {
    position: relative;
}

.modal-content .gallery img {
    width: 100%;
    border-radius: 8px;
}


.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 50%;
    z-index: 10; 
    cursor: pointer;
}

.add-photo-btn {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-color: #1D6154;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-photo-btn:hover {
    background-color: #14543a;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

/* Fin modale */

.gallery img {
	width: 100%;

}

.filters {
	display: flex;
	justify-content: space-evenly;
	margin: 2em 1em;
}

.filters button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1.2em;
	padding: 10px 20px;
	background-color: #fff;
	border: #1D6154 solid 1px;
	color: #1D6154;
	border-radius: 60px;
	transition: all 0.5s;
	cursor: pointer;
}

.filters button:hover {
	background-color: #1D6154;
	color: #fff;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;

}

section.login {
    padding: 40px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

section.login h2 {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

section.login form {
    display: flex;
    flex-direction: column;
}

section.login label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
}

section.login input[type="email"],
section.login input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

section.login input[type="submit"] {
    background-color: #006644;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

section.login input[type="submit"]:hover {
    background-color: #004c33;
}

section.login p {
    margin-top: 10px;
}

section.login p a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

section.login p a:hover {
    text-decoration: underline;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

